#converterContainer {
    background-color: #69656542;  
    padding: 20px; 
    border-radius: 10px; 
    margin: 200px auto; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    width: 50%;
    color: #000000;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    background-color: #190074;
}

h2 {
    color: #ffffff;
}

form {
    margin-top: 20px;
}

label {
    font-weight: bold;
    margin-right: 10px;
    color: #ffffff;
}

input {
    padding: 5px;
    margin-bottom: 10px;
}

button {
    padding: 5px 10px;
    background-color: #2f0cca;
    color: #fff;
    cursor: pointer;
}

#result {
    margin-top: 20px;
    font-size: 18px;
    color: #ffffff;
}

#converterContainer {
    background-color: #ffffff42; 
    padding: 20px; 
    border-radius: 10px; 
    margin: 200px auto; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    width: 50%;
    color: #ffffff;
}

