<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Temperature Converter Result</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='altstyle.css') }}">
</head>
<body>
    <div class="container">
        <h2>Conversion Result</h2>
        <p>{{ fahrenheit }} degrees Fahrenheit is {{ celsius }} degrees Celsius.</p>
        <a href="{{ url_for('index') }}"><button>Return to Converter</button></a>
    </div>
</body>
</html>
