/* styles.css */

/* Reset default margin and padding for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Body styles */
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #bbc0ff;
    margin: 0;
    padding: 20px;
  }
  
  /* Heading styles */
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  /* Table styles */
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  th, td {
    padding: 10px;
    border: 1px solid #ddd;
  }
  
  thead {
    background-color: #f2f2f2;
  }
  
  /* Link styles */
  a {
    color: #007bff;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  /* Paragraph styles */
  p {
    margin-bottom: 20px;
  }
  
  /* Button styles */
.button-container {
    text-align: center;
    margin-top: 20px;
  }
  
  .button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #06111d;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  .button:hover {
    background-color: #0056b3;
  }
  
  .portfolio-btn {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: fixed;  /* Makes the button fixed at a specific location */
    top: 0;           /* Aligns the button to the top of the viewport */
    left: 0;          /* Aligns the button to the left of the viewport */
    z-index: 1000;    /* Ensures the button stays on top of other elements */
}

.portfolio-btn:hover {
    background-color: #0056b3;
}
